@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmar email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        <!--Thank you for confirming your email.-->
            Obrigado por confirmar o seu email.
        </p>
    </div>
