@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmação do esquecimento de password";
}

<h2>@ViewData["Title"]</h2>
<p>
    <!-- Please check your email to reset your password.-->
    Por favor, verifique o seu email para redefinir a sua password.
</p>

