@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmação de alteração de password";
}

<h2>@ViewData["Title"]</h2>
<p>
    <!-- Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.-->
    A sua password foi redefinida. Por favor <a asp-page="./Login">click aqui para entrar</a>.
</p>
