@{
    ViewData["Title"] = "Sobre";
}

<br />
<h2>@ViewData["Title"]</h2>
<!--<h3>@ViewData["Message"]</h3>-->

<center>
    <img src="~/images/sobre_image.png" alt="Quinta Miao" style="width:40%">
</center>

<br />
<p>
    Situada na Quinta das Rebelas, no concelho do Barreiro (junto ao Mercado Abastecedor), a Quinta do Mião - Centro de Recolha de Animais Errantes do Barreiro e da Moita é uma obra assumida pelos municípios da Moita e Barreiro que colaboraram, assim, na criação de instalações mais modernas e adequadas do que as existentes até agora nos dois concelhos, repartindo as despesas de construção do novo equipamento e partilhando recursos.
</p>

<p>
    A "Quinta do Mião" tem 33 boxes para cães, celas de quarentena, um gatil, um espaço administrativo, gabinete de veterinário, sala de tosquias e tratamentos e, neste seu primeiro dia de abertura, contou já com a visita de duas turmas do Ensino Pré-Escolar (uma de cada concelho).
</p>
