@{
    ViewData["Title"] = "Contatos";
}

<br />
<h2>@ViewData["Title"]</h2>
<!--<h3>@ViewData["Message"]</h3>-->

<br />

<address>
    Zona industrial da Quinta das Rebelas, Santo André, concelho do Barreiro.
</address>

<address>
    <abbr title="Telefone">Telefone:</abbr>
    212 068 625<br />
</address>

<address>
    <abbr title="Email">Email:</abbr>
    geral@cm-barreiro.pt<br />
</address>

<address>
    <abbr title="Horário de atendimento ao público:">Horário de atendimento ao público:</abbr><br /><br />
    &nbsp;&nbsp;&nbsp;<strong>Segunda a Sexta-feira:</strong> das 14:00h às 17:00h<br /><br />
    &nbsp;&nbsp;&nbsp;<strong>Sábados:</strong> das 10:00h às 13:00h<br />
</address>

<address>
    <abbr title="Link">Link:</abbr> <a href="https://www.cm-moita.pt/pages/1258/">https://www.cm-moita.pt/pages/1258/</a>
</address>

<address>
    <abbr title="Facebook">Facebook:</abbr> <a href="https://www.facebook.com/quintadomiao/">https://www.facebook.com/quintadomiao/</a>
</address>