#RedMenu {
    background-color: #6B2737; /*cor da barra de menu*/
    border-color: #FCEFEF;
}

    #RedMenu ul li a {
        color: #FCEFEF;
    }

    #RedMenu ul li:hover {
        background-color: #F5D0A9;  
    }  

 
#ajuda {
    position: relative;
    float: right;
    margin-top: -50px;
    margin-right: -90px;
    cursor: pointer; /* mouse hover */
}
